<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qring.common.test.repository.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.qring.common.test.repository.model.entity.PersonDO">
    <!--@mbg.generated-->
    <!--@Table person-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, age, score
  </sql>

  <update id="update">
    select * from person;
    select * from person;
    select * from person;
  </update>
</mapper>